$primary: #ff7f00;
$text: #172940;

@use "bulma/sass" as bulma with ( // Bulma variable overrides
  $primary: $primary,
  $text: $text,
  $link: $primary,
  $title-color: $text,
  $family-sans-serif: '"Inter", "sans-serif"',
  $radius-small: 8px,
  $radius: 8px,
  $card-radius: 16px,
  $card-background-color: #fff,
  $modal-card-head-background-color: white);
@use "bulma/sass/utilities/mixins";

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: bulma.$white-bis;
  height: 100%;
  width: 100%;

  * {
    // Prevent blue highlights on elements on mobile
    -webkit-tap-highlight-color: transparent;
  }

  ::selection,
  ::-moz-selection {
    background: $primary;
    color: bulma.$white;
  }
}

.container {
  width: 100%;

  &--main {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include mixins.until(bulma.$desktop) {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}

// TODO: this must be removed
.card {
  background-color: bulma.$card-background-color;
}
